body {
    margin: 50px;
    background-color: azure;
}


#portfolio {}

/*media query = desktop*/
@media screen and (min-width: 600px) {

    body {
        margin: 160px;
        background-color: white;
    }
}
