body {
    margin: 0 auto;
    background-color: white;
}

header img {
    width: 115px;
}


p {
    color: #000000;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
    line-height: 1.4rem;
}


h1 {
    font-family: temeraire, serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
    font-size: 1.6rem;
}

h2 {
    font-family: temeraire, serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    line-height: 0.8;
    font-size: 1rem;
}


img {
    max-width: 100%;
    height: auto;
}


.hide {
    visibility: hidden;
}



/* MENU */


nav {
    background-color: white;
    text-align: center;
    height: 100vh;
    padding: 10px;
    margin-top: 60px;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


burgermenu {
    visibility: hidden;
}



/*
nav {
    background-color: white;
    text-align: center;
    height: 100vh;
    padding: 10px;
    margin-top: 60px;

    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
}

nav a {
    padding: 20px;
}
*/

/* STYLING AF LINKS */

a:link {
    color: #000000;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 0.07rem;
}

a:visited {
    color: #000000;
}

a:active {
    color: #000000;
}


#footer_link {
    font-size: 0.8rem;
    display: block;
    text-align: center;
    padding-bottom: 20px;
}

footer img {
    width: 80px;
}

#herknap {
    width: 35px;
}



/* FORSIDE */

#b {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(billeder/bogstaver/b.png);
    background-size: 100%;

    top: 21.6vw;
    left: 24.8vw;
    transform: rotate(-22.2deg);
}

#i {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(billeder/bogstaver/i.png);
    background-size: 100%;

    top: 19.5vw;
    left: 28.8vw;
    transform: rotate(-4.2deg);
}

#r {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(billeder/bogstaver/r.png);
    background-size: 100%;

    top: 19.1vw;
    left: 33.4vw;
    transform: rotate(11.8deg);
}

#i2 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(billeder/bogstaver/i.png);
    background-size: 100%;

    top: 19.8vw;
    left: 38.1vw;
    transform: rotate(24.8deg);
}

#t {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(billeder/bogstaver/t.png);
    background-size: 100%;

    top: 21.2vw;
    left: 42.6vw;
    transform: rotate(12.8deg);
}

#a {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(billeder/bogstaver/a.png);
    background-size: 100%;

    top: 19.8vw;
    left: 47.8vw;
    transform: rotate(-13.5deg);
}


#y {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(billeder/bogstaver/y.png);
    background-size: 100%;

    top: 19vw;
    left: 55.5vw;
    transform: rotate(8.8deg);
}

#o {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(billeder/bogstaver/o.png);
    background-size: 100%;

    top: 19.1vw;
    left: 60vw;
    transform: rotate(17.8deg);
}

#o2 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(billeder/bogstaver/o.png);
    background-size: 100%;

    top: 20.6vw;
    left: 64vw;
    transform: rotate(27.8deg);
}

#n {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(billeder/bogstaver/n.png);
    background-size: 100%;

    top: 20.5vw;
    left: 69vw;
    transform: rotate(3.8deg);
}

#s {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(billeder/bogstaver/s.png);
    background-size: 100%;

    top: 19.2vw;
    left: 73.2vw;
    transform: rotate(-11.2deg);
}


#p {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(billeder/bogstaver/p.png);
    background-size: 100%;

    top: 30vw;
    left: 30vw;
    transform: rotate(-18.2deg);
}

#o3 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(billeder/bogstaver/o.png);
    background-size: 100%;

    top: 28.5vw;
    left: 35vw;
    transform: rotate(-2.2deg);
}

#r2 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(billeder/bogstaver/r.png);
    background-size: 100%;

    top: 30vw;
    left: 40vw;
    transform: rotate(35.8deg);
}

#t2 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(billeder/bogstaver/t.png);
    background-size: 100%;

    top: 31.5vw;
    left: 45vw;
    transform: rotate(8.8deg);
}

#f {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(billeder/bogstaver/f.png);
    background-size: 100%;

    top: 30vw;
    left: 50vw;
    transform: rotate(-2.2deg);
}

#o4 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(billeder/bogstaver/o.png);
    background-size: 100%;

    top: 29vw;
    left: 55vw;
    transform: rotate(-2.2deg);
}

#l {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(billeder/bogstaver/l.png);
    background-size: 100%;

    top: 30vw;
    left: 60vw;
    transform: rotate(27.8deg);
}

#i3 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(billeder/bogstaver/i.png);
    background-size: 100%;

    top: 31vw;
    left: 65vw;
    transform: rotate(26.8deg);
}

#o5 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(billeder/bogstaver/o.png);
    background-size: 100%;

    top: 29.5vw;
    left: 69.7vw;
    transform: rotate(-11.2deg);
}




/* PORTFOLIO */
#portfolio {
    margin: 0 15px;
}




/* TEMA-SIDER */
#om_tema {
    margin: 0px 20px;
}






/*********** MEDIA QUERY TIL DESKTOP ***********/

@media screen and (min-width: 600px) {


    p {
        color: #000000;
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.1rem;
        font-weight: 200;
        letter-spacing: 0.05rem;
        line-height: 1.4rem;
    }

    h1 {
        font-family: temeraire, serif;
        font-weight: 400;
        font-style: normal;
        margin: auto;
        font-size: 2rem;
    }


    /* MENU */

    nav {
        position: fixed;
        top: 0;
        width: 100%;
        height: auto;
        padding-top: 35px;
        padding-bottom: 25px;
        margin: 0;

        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    nav a {
        padding: 0px 15px;
    }

    #link1 {
        order: 2;
    }

    #link2 {
        order: 1;
    }

    #link3 {
        order: 3;
    }

    burgermenu {
        visibility: hidden;
    }


    a:link {
        color: #000000;
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.2rem;
        font-weight: 300;
        letter-spacing: 0.07rem;
    }

    a:link {
        color: #000000;
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.2rem;
        font-weight: 200;
        letter-spacing: 0.07rem;
    }

    nav a:hover:nth-child(odd) {
        color: #000000;
        /*text-decoration: underline;*/
        border-bottom: 1px solid #a0a0a0;
    }


    footer img {
        width: 90px;
    }


    #herknap {
        width: 40px;
    }



    /* FORSIDE */





    /* PORTFOLIO */

    #portfolio {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px 20px;
        margin: 97px 20px 30px;
    }

    .img2 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .img3 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .img4 {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .img5 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .img6 {
        grid-column: 2/3;
        grid-row: 2/3;
    }



    /* OM */

    #om {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 97px 80px;
    }

    #col1 {
        grid-column: 1/2;
        padding: 20px;
    }

    #col2 {
        grid-column: 2/2;
    }




    /* om temaerne */

    #om_tema {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 110px 80px;
    }

    #picinfo {
        text-align: center;
    }

}




/* TEMA 3 */

#prototype {
    width: 75%;
}
